*.xlsx
*.xls
#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.rej
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.deployables
.git
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
.classpath
.cvsignore
.settings
.project
.factorypath
.metadata/
.vscode/
.flowconfig
bin
target
build/
backup/
node_modules/
node/
velocity_implicit.vm
clientdb.xml

brms-Teste-20200365205522.jar
